.DS_Store
*.pyc
*.egg-info
*.swp
tags
erpnext_mrp/docs/current
node_modules/
cypress/videos
cypress/screenshots
erpnext_mrp/public/node_modules

# Package management is managed by bench
yarn.lock

# Docs
docs/.vitepress/dist
docs/.vitepress/cache

# Frontend artifacts
dist/
erpnext_mrp/public/erpnext_mrp